version: '3.8'
services:
  jenkins:
    container_name: jenkins_container
    image: jenkins/jenkins
    ports:
      - "8090:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home

volumes:
  jenkins_home:
